# vim: ft=cfg
[MASTER]
ignore=migrations,.git
disable=too-few-public-methods,missing-docstring,import-error,too-many-ancestors,locally-disabled,fixme,no-member,cyclic-import,duplicate-code,no-self-use,protected-access,invalid-name
max-line-length=80

[REPORTS]
reports=no
